<ng-container *ngIf="{ isEditing: functions.isEditing() } as editing">
  <form class="container" *ngIf="editing.isEditing; else notEditing" autocomplete="off" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
    <mat-card class="update" [style.padding-top]="editing.isEditing ? '0' : '16px'">
      <div class="flex-container-centered-row" style="height: 100px;">
        <button mat-raised-button color="primary" type="submit">{{operation}}</button>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Tytuł</mat-label>
        <input type="text" matInput name="title" #title="ngModel" [(ngModel)]="update.title" required>
        <mat-error *ngIf="f.submitted && title.errors?.required">Tytuł jest wymagany</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Podtytuł</mat-label>
        <input type="text" matInput name="subtitle" #subtitle="ngModel" [(ngModel)]="update.subtitle">
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 75%;">
        <mat-label>Treść</mat-label>
        <textarea matInput style="min-height: 100px;" name="content" #content="ngModel" [(ngModel)]="update.content" required></textarea>
        <mat-error *ngIf="f.submitted && content.errors?.required">Treść jest wymagana</mat-error>
      </mat-form-field>
    </mat-card>
  </form>
  <ng-template #notEditing>
    <div class="container">
      <mat-card class="update">
        <h1>{{update.title}}</h1>
        <h2>{{update.subtitle}}</h2>
        <p style="width: 75%; margin: 25px 0;">{{update.content}}</p>
        <span class="auto-spacer"></span>
        <p>{{update.date | date:'fullDate'}}</p>
      </mat-card>
    </div>
  </ng-template>
</ng-container>
