@import '~src/colors';

.publication-parameter {
  padding-top: 0.5em;
  line-height: 24px;
}

.publication-parameter-container {
  width: 100%;
  display: flex;

  &-column {
    flex-direction: column;
  }
}

.publication-url-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .publication-url-label {
    line-height: 36px;
  }

  .publication-url {
    display: inline-block;
    max-width: calc(80vw - 128px - 32px);
    padding: 0;
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &-phone {
      max-width: calc(100vw - 128px);
    }
  }
}
