<div class="component-container" [ngClass]="{'component-container-laptop': global.isScreenLarge,
     'component-container-tablet': global.isScreenMedium, 'component-container-phone': global.isScreenSmall}">
  <div *ngIf="!global.isScreenSmall" class="component-header"
       [ngClass]="{'component-header-tablet': !global.isScreenVeryLarge}">
    <span>Publications</span>
  </div>

  <div class="component-content-container" [ngClass]="{'component-content-container-dark': global.isDarkMode,
       'component-content-container-tablet': global.isScreenMedium,
       'component-content-container-phone': global.isScreenSmall}">
    <div @easeInOutVerticalEditingContainer *ngIf="global.canEdit()" class="edit-buttons-container"
         (@easeInOutVerticalEditingContainer.done)="global.areAnimationsDisabled = true; changeDetectorRef.detectChanges();"
         [ngClass]="{'edit-buttons-container-dark': global.isDarkMode}">
      <span class="auto-spacer"></span>
      <a @easeInOutEditingButton mat-raised-button (click)="orcidService.authorization = true"
         color="accent" class="button" [ngClass]="{'button-without-text mat-mini-fab': global.isScreenSmall}"
         [matTooltip]="global.isScreenSmall ? 'Import data from ORCID' : null" [href]="orcidAuthorizationUrl">
        <mat-icon>{{global.operations.Import}}</mat-icon>
        <span class="button-text">Import data from ORCID</span>
      </a>
      <span class="auto-spacer"></span>
      <button @easeInOutEditingButton mat-raised-button color="accent" (click)="addPublication()" class="button"
              [ngClass]="{'button-without-text mat-mini-fab': global.isScreenSmall}"
              [matTooltip]="global.isScreenSmall ? 'Add' : null">
        <mat-icon>{{global.operations.Add}}</mat-icon>
        <span class="button-text">Add</span>
      </button>
      <span class="auto-spacer"></span>
    </div>

    <div class="entry-container">
      <table mat-table matSort multiTemplateDataRows class="entry-table" [dataSource]="publicationsDataSource">

        <ng-container matColumnDef="title">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
        </ng-container>

        <ng-container matColumnDef="subtitle">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Subtitle</th>
        </ng-container>

        <ng-container matColumnDef="publisher">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Publisher</th>
        </ng-container>

        <ng-container matColumnDef="typeName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Type</th>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Date of publication</th>
        </ng-container>

        <ng-container matColumnDef="filter">
          <th mat-header-cell *matHeaderCellDef [colSpan]="columns.length" class="entry-table-cell no-border"
              [ngClass]="{'entry-table-cell-tablet': global.isScreenSmall || global.isScreenMedium}">
            <mat-form-field color="accent" appearance="outline" class="table-filter">
              <mat-label>Search</mat-label>
              <input matInput (keyup)="applyFilter($event)">
            </mat-form-field>
          </th>
        </ng-container>

        <ng-container matColumnDef="publication">
          <td mat-cell [colSpan]="columns.length" *matCellDef="let element" class="entry-table-cell no-border"
              [ngClass]="{'entry-table-cell-tablet': global.isScreenSmall || global.isScreenMedium}">
            <mat-card [ngClass]="{'entry-card-dark': global.isDarkMode}" class="entry-card mat-elevation-z4">
              <mat-card-header>
                <mat-card-title>{{element.title}}</mat-card-title>
                <mat-card-subtitle>{{element.subtitle}}</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                <span *ngIf="!!element.typeName" class="publication-parameter">Type: {{element.typeName}}</span>
                <div class="publication-parameter-container"
                     [ngClass]="{'publication-parameter-container-column': global.isScreenSmall || global.isScreenMedium}">
                  <span *ngIf="!!element.publisher"
                        class="publication-parameter">Publisher: {{element.publisher}}</span>
                  <span *ngIf="!!element.publisher" class="auto-spacer-small"></span>
                  <span *ngIf="!!element.date"
                        class="publication-parameter">Date of publication: {{element.date | date:'fullDate'}}</span>
                  <span class="auto-spacer"></span>
                </div>
                <div *ngIf="!!element.url" class="publication-url-container">
                  <span class="publication-url-label">Url:</span>
                  <a mat-button class="publication-url" [ngClass]="{'publication-url-phone': global.isScreenSmall}"
                     [href]="element.url" target="_blank">{{element.url}}</a>
                </div>
              </mat-card-content>

              <mat-card-actions @easeInOutVerticalEditingContainer *ngIf="global.canEdit()"
                                class="entry-edit-buttons-container"
                                (@easeInOutVerticalEditingContainer.done)="global.areAnimationsDisabled = true; changeDetectorRef.detectChanges();"
                                [ngClass]="{'entry-edit-buttons-container-dark': global.isDarkMode}">
                <span class="auto-spacer"></span>
                <button @easeInOutEditingButton mat-raised-button color="accent"
                        class="button" [ngClass]="{'button-without-text mat-mini-fab': global.isScreenSmall}"
                        [matTooltip]="global.isScreenSmall ? 'Edit' : null" (click)="replacePublication(element)">
                  <mat-icon>{{global.operations.Edit}}</mat-icon>
                  <span class="button-text">Edit</span>
                </button>
                <span class="auto-spacer"></span>
                <button @easeInOutEditingButton mat-raised-button color="accent"
                        class="button" [ngClass]="{'button-without-text mat-mini-fab': global.isScreenSmall}"
                        [matTooltip]="global.isScreenSmall ? 'Delete' : null" (click)="deletePublication(element)">
                  <mat-icon>{{global.operations.Delete}}</mat-icon>
                  <span class="button-text">Delete</span>
                </button>
                <span class="auto-spacer"></span>
              </mat-card-actions>
            </mat-card>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns" class="table-header-row"
            [ngClass]="{'table-header-row-dark': global.isDarkMode}"></tr>
        <tr mat-header-row *matHeaderRowDef="['filter']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['publication'];"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell entry-table-cell" *ngIf="filterValue.length !== 0" [colSpan]="columns.length"
              [ngClass]="{'entry-table-cell-tablet': global.isScreenSmall || global.isScreenMedium}">
            <span>Cannot find "{{filterValue}}"</span>
          </td>
        </tr>
      </table>

      <mat-paginator *ngIf="publicationsDataSource.filteredData.length !== 0" color="accent"
                     class="paginator entry-paginator" [ngClass]="{'paginator-dark': global.isDarkMode,
                     'entry-paginator-tablet': global.isScreenSmall || global.isScreenMedium}"
                     [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
