<form class="flex-container-centered-column" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
  <h1 mat-dialog-title>Publikacja</h1>
  <div mat-dialog-content class="flex-container-centered-column" style="display: flex;">
    <mat-form-field class="big-input" appearance="fill">
      <mat-label>Tytuł</mat-label>
      <input type="text" matInput name="title" #title="ngModel" [(ngModel)]="publication.title" maxlength="100" required>
      <mat-error *ngIf="f.submitted && title.errors?.required">Tytuł jest wymagany</mat-error>
    </mat-form-field>
    <mat-form-field class="big-input" appearance="fill">
      <mat-label>Podtytuł</mat-label>
      <input type="text" matInput name="subtitle" #subtitle="ngModel" [(ngModel)]="publication.subtitle" maxlength="100">
    </mat-form-field>
    <div class="flex-container-centered-row">
      <mat-form-field class="medium-input" appearance="fill" style="margin-right: 50px;">
        <mat-label>Wydawca</mat-label>
        <input type="text" matInput name="publisher" #publisher="ngModel" [(ngModel)]="publication.publisher" maxlength="30">
      </mat-form-field>
      <mat-form-field class="medium-input" appearance="fill">
        <mat-label>Rodzaj</mat-label>
        <input type="text" matInput name="type" #type="ngModel" [(ngModel)]="publication.type" maxlength="30" required>
        <mat-error *ngIf="f.submitted && type.errors?.required">Rodzaj jest wymagany</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="big-input" appearance="fill">
      <mat-label>Link</mat-label>
      <input type="url" matInput name="link" #link="ngModel" [(ngModel)]="publication.link" maxlength="100">
      <mat-error *ngIf="f.submitted && link.invalid">Niepoprawny link</mat-error>
    </mat-form-field>
    <mat-form-field class="medium-input" appearance="fill" style="margin-bottom: 0;">
      <mat-label>Wybierz datę</mat-label>
      <input matInput [max]="maxDate" [matDatepicker]="picker" name="date" #date="ngModel" [(ngModel)]="dateInput">
      <mat-error *ngIf="f.submitted && date.invalid">Niepoprawna data</mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">{{operation}}</button>
  </div>
</form>
