<div class="container">
  <div class="header">
    <mat-toolbar>
      <h1>{{teacher.firstName}} {{teacher.lastName}}</h1>
      <nav mat-tab-nav-bar>
        <a mat-tab-link routerLink="updates">Aktualności</a>
        <a mat-tab-link routerLink="profile">Profil</a>
        <a mat-tab-link routerLink="publications">Publikacje</a>
        <a mat-tab-link routerLink="contact">Kontakt</a>
      </nav>
      <span class="auto-spacer"></span>
      <button *ngIf="!!auth.user.value" mat-icon-button color="primary" (click)="settings.switchEditSetting()">
        <mat-icon>build</mat-icon>
      </button>
      <span class="auto-spacer-small"></span>
      <a *ngIf="!auth.user.value; else isLoggedIn" mat-icon-button color="primary" routerLink="auth/login">
        <mat-icon>login</mat-icon>
      </a>
      <ng-template #isLoggedIn><a mat-icon-button color="primary" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </a></ng-template>
    </mat-toolbar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">

  </div>
</div>
