<form mat-dialog-content class="dialog-container" [formGroup]="calendarForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <h1 class="dialog-title">Calendar</h1>
  <div class="dialog-content">
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Url</mat-label>
      <input #calendarUrl matInput type="text" formControlName="calendarUrl">
      <mat-hint align="end">{{calendarUrl.value.length}} / 2048</mat-hint>
      <mat-error *ngIf="functions.checkError(calendarForm, 'calendarUrl', 'maxlength')">
        Please enter no more than <strong>2048</strong> characters
      </mat-error>
    </mat-form-field>
  </div>
  <div class="dialog-actions">
    <button mat-raised-button color="accent" type="submit" class="button"
            [ngClass]="{'button-without-text mat-mini-fab': global.isScreenSmall}"
            [matTooltip]="global.isScreenSmall ? operation === global.operations.Add ? 'Add' : 'Save' : null">
      <mat-icon>{{operation}}</mat-icon>
      <span *ngIf="operation === global.operations.Add; else save" class="button-text">Add</span>
      <ng-template #save><span class="button-text">Save</span></ng-template>
    </button>
  </div>
</form>
