<form class="container" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
  <div class="buttons editing-buttons">
    <a mat-raised-button color="primary" (click)="switchLinkedInAuthorization()" [href]="linkedInAuthorizationUrl">Importuj informacje z Linked In</a>
    <button mat-raised-button color="primary" type="submit">Zapisz zmiany</button>
  </div>
  <div class="info">
    <div style="margin-top: 50px;">
      <mat-form-field class="medium-input" appearance="fill" style="margin-right: 50px;">
        <mat-label>Imię</mat-label>
        <input type="text" matInput name="firstName" #firstName="ngModel" [(ngModel)]="form.firstName">
      </mat-form-field>
      <mat-form-field class="medium-input" appearance="fill">
        <mat-label>Nazwisko</mat-label>
        <input type="text" matInput name="lastName" #lastName="ngModel" [(ngModel)]="form.lastName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field  class="medium-input" appearance="fill">
        <mat-label>Uczelnia</mat-label>
        <input type="text" matInput name="university" #university="ngModel" [(ngModel)]="form.university">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field  class="medium-input" appearance="fill">
        <mat-label>Przedmiot</mat-label>
        <input type="text" matInput name="subject" #subject="ngModel" [(ngModel)]="form.subject">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="big-input" appearance="fill">
        <mat-label>O mnie</mat-label>
        <textarea matInput name="about" #about="ngModel" [(ngModel)]="form.about" style="height: 350px; max-height: 350px;"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="picture flex-container-centered-column">
    <img *ngIf="form.pictureUrl; else noPicture" [src]="form.pictureUrl" (click)="profilePicture.click()" alt="">
    <input type="file" #profilePicture (change)="uploadProfilePicture(profilePicture.files)" style="display: none;">
    <ng-template #noPicture><button mat-raised-button color="primary" type="button" (click)="profilePicture.click()" style="margin-top: 30px;">Wyślij Zdjęcie</button></ng-template>
  </div>
</form>
