@import '~src/colors';

.contact-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "contact-info-container"
    "calendar-container"
    "."
    "links-panel";

  & > :not(:first-child) {
    margin-top: 32px;
  }

  &-phone > :not(:first-child) {
    margin-top: 16px;
  }
}

.contact-info-container {
  grid-area: contact-info-container;
  border-style: solid;
  border-width: 0 0 1px 0;
  @extend .border-color-light;

  &-dark {
    @extend .border-color-dark;

    .contact-info-middle-container {
      .contact-info-entry-container {
        @extend .border-dark;

        .contact-info-entry-label {
          @extend .card-background-color-dark;
        }
      }
    }
  }
}

.contact-info-middle-container {
  @extend .flex-column-centered-container;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  width: calc(100% - 64px);

  .contact-info-entry-container {
    position: relative;
    padding: 16px;
    margin-top: 32px;
    width: calc(100% - 32px);
    border-radius: 16px;
    @extend .border-light;

    .contact-info-entry-label {
      position: absolute;
      padding: 8px;
      left: 8px;
      top: -17px;
      font-size: 16px;
      font-weight: 400;
      @extend .card-background-color-light;
    }

    .contact-info-entry {
      font-size: 16px;
      font-weight: 400;
    }
  }

  mat-form-field:first-child {
    margin-top: 32px;
  }

  mat-form-field:last-child {
    margin-bottom: 16px;
  }

  .contact-info-entry-container:last-child {
    margin-bottom: 32px;
  }

  &-phone {
    width: calc(100% - 32px);

    .contact-info-entry-container {
      margin-top: 16px;
    }

    mat-form-field:first-child {
      margin-top: 16px;
    }

    mat-form-field:last-child {
      margin-bottom: 8px;
    }

    .contact-info-entry-container:last-child {
      margin-bottom: 16px;
    }
  }
}

.calendar-container {
  grid-area: calendar-container;
  @extend .flex-column-centered-container;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  max-height: 640px;
  width: calc(100% - 64px);
  height: calc(80vw - 64px);

  iframe {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    @extend .border-light;
  }

  button {
    display: inline-block;
    position: absolute;
  }

  &-dark {
    iframe {
      @extend .border-dark;
    }
  }

  &-tablet {
    width: calc(100% - 32px);
    height: calc(85vw - 32px);
  }

  &-phone {
    width: calc(100% - 32px);
    height: calc(100vw - 32px);
  }

  &-editable {
    button {
      display: none;
    }

    &:hover {
      iframe {
        filter: blur(4px);
      }

      button {
        position: absolute;
        display: inline-block;
      }
    }
  }
}

.links-panel {
  grid-area: links-panel;
}
