<div class="component-container" [ngClass]="{'component-container-laptop': global.isScreenLarge,
     'component-container-tablet': global.isScreenMedium, 'component-container-phone': global.isScreenSmall}">
  <div *ngIf="!global.isScreenSmall" class="component-header"
       [ngClass]="{'component-header-tablet': !global.isScreenVeryLarge}">
    <span>Contact</span>
  </div>
  <div class="component-content-container contact-container"
       [ngClass]="{'component-content-container-dark': global.isDarkMode,
       'component-content-container-tablet': global.isScreenMedium,
       'component-content-container-phone': global.isScreenSmall,
       'contact-container-phone': global.isScreenMedium || global.isScreenSmall}">
    <form *ngIf="global.canEdit(); else notEditing" autocomplete="off" [formGroup]="teacherContactForm"
          (ngSubmit)="onSubmit()" class="contact-info-container"
          [ngClass]="{'contact-info-container-dark': global.isDarkMode}">
      <div class="edit-buttons-container" [ngClass]="{'edit-buttons-container-dark': global.isDarkMode}">
        <button mat-raised-button color="accent" type="submit" class="button"
                [ngClass]="{'button-without-text mat-mini-fab': global.isScreenSmall}"
                [matTooltip]="global.isScreenSmall ? 'Save' : null">
          <mat-icon>{{global.operations.Save}}</mat-icon>
          <span class="button-text">Save</span>
        </button>
      </div>
      <div class="contact-info-middle-container"
           [ngClass]="{'contact-info-middle-container-phone': global.isScreenMedium || global.isScreenSmall}">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Email address</mat-label>
          <input #emailAddress matInput type="email" formControlName="emailAddress">
          <mat-hint align="end">{{emailAddress.value.length}} / 256</mat-hint>
          <mat-error *ngIf="functions.checkError(teacherContactForm, 'emailAddress', 'maxlength')">
            Please enter no more than <strong>256</strong> characters
          </mat-error>
          <mat-error *ngIf="functions.checkError(teacherContactForm, 'emailAddress', 'email')">
            The given email address is <strong>incorrect</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Telephone number</mat-label>
          <input #phoneNumber matInput type="tel" formControlName="phoneNumber">
          <mat-hint align="end">{{phoneNumber.value.length}} / 16</mat-hint>
          <mat-error *ngIf="functions.checkError(teacherContactForm, 'phoneNumber', 'maxlength')">
            The given telephone number is <strong>incorrect</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <ng-template #notEditing>
      <div *ngIf="!!teacher?.emailAddress || !!teacher?.phoneNumber" class="contact-info-container"
           [ngClass]="{'contact-info-container-dark': global.isDarkMode}">
        <div class="contact-info-middle-container"
             [ngClass]="{'contact-info-middle-container-phone': global.isScreenMedium || global.isScreenSmall}">
          <div *ngIf="!!teacher?.emailAddress" class="contact-info-entry-container">
            <span class="contact-info-entry-label">Email address</span>
            <span class="contact-info-entry">{{teacher?.emailAddress}}</span>
          </div>
          <div *ngIf="!!teacher?.phoneNumber" class="contact-info-entry-container">
            <span class="contact-info-entry-label">Telephone number</span>
            <span class="contact-info-entry">{{teacher?.phoneNumber}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="calendar-container" *ngIf="calendarExists || global.canEdit()"
         [ngClass]="{'calendar-container-editable': calendarExists && global.canEdit(),
         'calendar-container-dark': global.isDarkMode, 'calendar-container-tablet': global.isScreenMedium,
         'calendar-container-phone': global.isScreenSmall}">
      <iframe [src]="calendarUrlSafe"></iframe>
      <button mat-raised-button *ngIf="global.canEdit()" color="accent" (click)="openCalendarEditDialog()"
              class="button" [ngClass]="{'button-without-text mat-mini-fab': global.isScreenSmall}"
              [matTooltip]="global.isScreenSmall ? calendarExists ? 'Edit' : 'Add calendar' : null">
        <ng-container *ngIf="calendarExists; else noCalendar">
          <mat-icon>{{global.operations.Edit}}</mat-icon>
          <span class="button-text">Edit</span>
        </ng-container>
        <ng-template #noCalendar>
          <ng-container>
            <mat-icon>{{global.operations.Add}}</mat-icon>
            <span class="button-text">Add calendar</span>
          </ng-container>
        </ng-template>
      </button>
    </div>
    <app-links-panel *ngIf="linksPanelExists || global.canEdit()" class="links-panel"
                     [isLimited]="false"></app-links-panel>
  </div>
</div>
