.container {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: auto 1520px auto;
  grid-template-rows: 100%;
  grid-template-areas:
  ". updates .";

  .updates {
    grid-area: updates;

    .update {
      border: 1px solid black;

      .update-header:hover {
        cursor: pointer;
      }
    }
  }
}
